/* Select */
select {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #D0CBCB;
    border-radius: 0;
    background-color: #f1f1f1;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    min-width: 140px;
}

.select ul li:nth-child(1) {
    display:none;
}
.select {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    height: 44px;
    line-height: 44px;
}
.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding: 0 44px 0 20px;
    background:#f1f1f1 url(../img/bg_select.svg) no-repeat right center;
    font-size:14px;
    border: 2px solid #D0CBCB;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
.styledSelect:hover {
    border: 2px solid #8c8c8c;
}
.styledSelect:active, .styledSelect.active {
    background-color: #f1f1f1;
}
.styledSelect.selected.active {
    background-color: #f1f1f1;
    border: 2px solid #000;
}
.options {
    display:none;
    position:absolute;
    top:100%;
    right:0;
    left:0;
    z-index:999;
    margin:0 0;
    padding:0 0;
    list-style:none;
    border-left:2px solid #000;
    border-right:2px solid #000;
    border-bottom:2px solid #000;
    background-color:white;
    font-size:14px;
    color:#000;
    cursor: pointer;
}
.options li {
    padding: 0 20px;
    margin: 0;
    border-bottom: 0 none;
}
.options li:hover {
    background-color:#E9E9E9;
    color:#000;
}

@media screen and (min-width: 640px) {
    select, .select {
        display: inline-block;
        width: auto;
    }
    .select {
        margin: 0 20px 0 0;
    }
    }
}