body {
    margin: 0 10px;
    padding: 0;
    font-family: HelveticaNeueCondensed, Helvetica, Arial, sans-serif;
}


#wrapper {
    width: 960px;
    margin: 0 auto;
}

img.logo-cvs {
    width: 200px;
    margin-top: 20px;
}
.container h5 {
    font-size: 17px;
    margin: 20px 0px 0px 0px;
}
.container h5+p {
    margin: 5px 0px 0px 0px;
}
.container img+h4 {
    font-size: 20px;
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.old2new {
    margin-top: 40px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.old2new div {
    display: table-cell;
    font-weight: bold;
    margin-bottom: 15px;
}

.old2new div:nth-child(1) {
    width: 450px;
}

.old2new div:nth-child(2) {
    width: 300px;
}

.old2new div:nth-child(3) {
    width: 210px;
    text-align: right;
}

.old2newDrugInfo {
    border-top: 1px solid;
    padding-top: 0px;
    padding-bottom: 0px;
}

.old2newDrugInfo div {
    display: table-cell;
    vertical-align: top;
}

.old2newDrugInfo div:nth-child(1n) {
    width: 450px;
}

.old2newDrugInfo div:nth-child(2n) {
    width: 300px;
}

.old2newDrugInfo div:nth-child(3) {
    width: 210px;
    text-align: right;
    position: relative;
    top: 20px;
}

.totalSaving p {
    float: right;
    position: relative;
    bottom: 12px;
}

.totalSaving {
    font-size: 19px;
    font-weight: bold;
    padding: 10px 0px 40px 0px;
    border-top: 1px solid;
    border-bottom: 3px solid;
    margin: 10px 0px 15px 0px;
}

.totalSaving span {
    color: #CC0000;
}

.switch-drugInfo button {
    float: right;
    color: #FFF;
}

.clear {
    padding: 20px 0px 20px 0px;
}

.newDrug-info>div {
    color: #cc0000;
}

.ninety-info>div {
    color: #cc0000;
}

.switch-info {
    margin-top: 10px;
}

.newDrug-info h4 {
    color: #cc0000;
}

.display {
    display: none;
}

.clear+p {
    font-size: 12px;
    margin-bottom: 20px;
}

.thirty-info,
.oldDrug-info {
    position: relative;
}
.oldDrug-info img,.thirty-info img {
    position: absolute;
    right: 20px;
    top: 70px;
}

