/* This prototype is supported and tested in Chrome 46.0.2490.86 (64-bit) ONLY */
/* --------------------
   BASIC ELEMENTS
-------------------- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, * {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
input[type="checkbox"] {
    cursor: pointer;
}
input[type="checkbox"]:focus {
    outline: 0 none transparent;
}

/* --------------------
   TYPOGRAPHY
-------------------- */
body {
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #1E1E1E;
}
h1, h2, h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0;
}
h3 {
    font-size: 21px;
}
p {
    margin: 0;
}
p a {
    text-decoration: underline;
    color: #1E1E1E;
}

/* --------------------
   PAGE LAYOUT
-------------------- */
header, main, footer {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    clear: both;
}
header, footer {
    background-color: #F5F5F5;
    border: 2px solid #E9E9E9;
    padding-top: 40px;
    padding-bottom: 40px;
}
header {
    margin-bottom: 40px;
}
footer {
    margin-top: 40px;
}

/* --------------------
   HELPER CLASSES
-------------------- */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.text-red {
    color: #CC0000;
}
.text-muted {
    color: #8C8C8C;
    font-size: 12px;
}

/* --------------------
   BUTTONS / ICONS
-------------------- */
.button {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 0 20px;
    height: 44px;
    line-height: 44px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #E9E9E9;
    border-radius: 0;
    background-color: #F5F5F5;
    color: #000;
}
.button {
    text-align: center;
}
.button.primary {
    border-color: #CC0000;
    background-color: #CC0000;
    color: #FFF;
}
.button.primary:not(.disabled):hover {
    border-color: #D63232;
    background-color: #D63232;
}
.button.secondary {
    border-color: #37BAAB;
    background-color: #37BAAB;
    color: #FFF;
}
.button.secondary:not(.disabled):hover {
    border-color: #5FC8BC;
    background-color: #5FC8BC;
}
.button.tertiary {
    border-color: #000;
    background-color: #000;
    color: #FFF;
}
.button.tertiary:not(.disabled):hover {
    border-color: #313131;
    background-color: #313131;
}
.button.icon-button {
    padding-left: 0;
}
.button.icon-button:before {
    content: "";
    display: block;
    width: 44px;
    height:44px;
    line-height: 44px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: #E9E9E9;
    border-radius: 0;
    background-color: #F5F5F5;
    color: #000;
    float: left;
    margin: -2px 20px -2px -2px;
}
.button.tertiary.icon-button:before {
    background-color: #313131;
    border-color: #313131;
    color: #FFF;
}
.button.disabled, .button.disabled:hover {
    opacity: 0.25;
    cursor: default;
}
.icon-print:before {
    background-image: url(../img/icon_print.svg);
    background-size: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}
#max-button.disabled {
    color: #37BAAB;
    padding: 0;
    border-color: #E9E9E9;
    background-color: transparent;
    opacity: 1;
}

/* --------------------
   CONTROLS
-------------------- */
#controls {
    margin: 30px 0;
}
#controls #add-save-container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background: white;
    border-top: 2px solid #ccc;
    left: 0;
    padding: 10px;
}
#you-save {
    text-align: right;
    float: left;
    margin-right: 20px;
}
#you-save > span {
    display: block;
}
#you-save #savings {
    font-size: 21px;
    color: #000;
    font-weight: bold;
}
#add-button-box {
    position: relative;
    flex: 1;
}
#dot {
    display: none;
    width: 24px;
    height: 24px;
    line-height: 20px;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #FFF;
    border: 2px solid #CC0000;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #CC0000;
    font-size: 12px;
}

/* --------------------
   DRUG LIST
-------------------- */
.drug-list {
    margin: -10px;
}
.drug-list .drug {
    /* Layout */
    margin: 10px;
    /* Style */
    background-color: #FFF;
    border-top: 2px solid #000;
}
/* Drug Info */
.drug-list .drug-info {
    border-width: 0 2px;
    border-color: #E9E9E9;
    border-style: solid;
    padding: 10px 20px;
}
.drug-list .drug-info > * {
    margin: 0;
}
.drug-list .drug-info > *:last-child {
    margin-top: 5px;
}
.drug-list .drug-info p {
    color: #646464; 
}
/* Savings Opportunities */
.drug-list .drug-opp {
    position: relative;
}
.drug-list .drug-opp b {
    font-size: 16px;
}
.drug-list input[type="checkbox"] {
    /* Layout */
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    /* Style */
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF;
    border: 2px solid #000;
    width: 20px;
    height: 20px;
}
.drug-list input[type="checkbox"]:checked {
    border-color: #37BAAB;
    background: #37BAAB url(../img/bg_checkbox.svg) center center no-repeat;
    background-size: 20px;
}
.drug-list label {
    display: block;
    padding: 15px 20px 15px 50px;
    background-color: #F5F5F5;
    border-width: 0 2px 2px;
    border-style: solid;
    border-color: #E9E9E9;
    border-top: 0 none;
    cursor: pointer;
}
.drug-list .drug-opp:first-child label {
    border-top: 2px solid #E9E9E9;
}
.drug-list label:hover,
.drug-list input[type="checkbox"]:checked + label {
    background-color: #FFF;
}
.drug-list label > span {
    display: block;
}
/* Best savings opportunity */
.drug-list .best-banner {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    background-color: #37BAAB;
    color: #FFF;
    font-weight: bold;
}
.drug-list .drug-opp.best label {
    border-color: #37BAAB;
    border-top: 0 none;
}
/* Not selected savings opportunity */
.drug-list .drug-opp.text-muted {
    font-size: 14px;
    color: #555;
}
/* Animated box */
.animated {
    display: block;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    z-index: 100;
}

/* --------------------
   PSG
-------------------- */
#psg p.text-muted {
    margin: 40px 0 10px;
    clear: both;
}

/* --------------------
   CONTENT BLOCKS
-------------------- */
.content-block {
    padding: 40px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #CCC;
    background-position: 0 40px;
    background-repeat: no-repeat;
    background-size: auto 36px;
}
.content-block + .content-block {
    border-top: 0 none;
}
.content-block > h2:first-child,
.content-block > h2:first-child + p {
    margin-left: 40px;
}
.content-block > h2:first-child + p {
    margin-bottom: 20px;
}

/* --------------------
   PRINT
-------------------- */
#print {
    background-image: url(../img/icon_stethoscope.svg);
}
#print select, #print .select, #print button {
    float: left;
}

/* --------------------
   NO SAVINGS
-------------------- */
#no-savings {
    background-image: url(../img/icon_trophy.svg);
    position: relative;
}
#no-savings .drug-list .drug {
    border: 2px solid #E9E9E9;
}
#no-savings .drug-list .drug-info {
    border: 0 none;
}
#no-savings .show-more {
    clear: both;
    text-align: center;
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 100%);
    padding: 0;
}
/* Hide the part of the list we don't want to see */
#no-savings .drug-list.hidden .drug:nth-of-type(1n+4) {
    display: none;
}
#no-savings .drug-list.hidden {
    margin-bottom: 10px;
}
#no-savings .drug-list.hidden + .show-more {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding-top: 20px;
}

/* --------------------
   FAQ
-------------------- */
#faq {
    background-image: url(../img/icon_learn-more.svg);
}
dl.faq-list dt {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 20px 0;
    margin: 30px 0 0;
    border-top: 1px solid #E9E9E9;
}
dl.faq-list dt:first-child {
    margin-top: 0;
}

/* --------------------
   MEDIA QUERIES
-------------------- */
@media screen and (min-width: 640px) {
    /* Buttons */
    .button {
        display: inline-block;
        width: auto;
    }

    /* Controls */
    #controls > div {
        float: right;
    }
    #controls > div:first-child {
        float: left;
    }
    #controls #add-save-container {
        display: block;
        position: static;
        width: auto;
        background: white;
        border-top: 0 none;
        padding: 0;
    }
    #add-button-box {
        float: right;
        flex: auto;
    }
    #dot {
        top: -8px;
        right: -8px;
    }
    #max-button.disabled {
        border: 0 none;
    }

    /* Drug tile */
    /* TODO: margin */
    .drug-list .drug {
        float: left;
        width: calc(50% - 20px);
    }
    .drug-list .drug:nth-child(odd) {
        clear: left;
    }
    .drug-list .drug:first-child {
        clear: none;
    }

    /* Content Blocks */
    .content-block {
        padding-left: 80px;
        background-size: auto 72px;
    }
    .content-block > h2:first-child,
    .content-block > h2:first-child + p {
        margin-left: 0;
    }
    .content-block > h2:first-child + p {
        margin-bottom: 30px;
    }

    /* No Savings */
    #no-savings {
        padding-left: 0;
    }
    #no-savings > h2:first-child,
    #no-savings > h2:first-child + p {
        margin-left: 80px;
    }
    #no-savings .drug-list.hidden .drug:nth-of-type(1n+4) {
        display: block;
    }
    #no-savings .drug-list.hidden .drug:nth-of-type(1n+7) {
        display: none;
    }
}

@media screen and (min-width: 960px) {
    /* Container */
    header, main, footer {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Drug tile */
    .drug-list .drug {
        width: calc(33.3333333333% - 20px);
    }
    .drug-list .drug:nth-child(odd) {
        clear: none;
    }
    .drug-list .drug:nth-child(3n+1) {
        clear: left;
    }
}